:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

*{
  font-family: 'Montserrat', sans-serif;;
}

.languageColor{
  width: 10px;
  height: 10px;
  background-color: yellow;
}

.purple{
  background-color: purple;
}