:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

main{
  width: 100%;
  height: 100%;
  padding: 30px 30px 10px 30px;

  display: grid;
  grid-template-areas: 
  "profile aboutMe aboutMe"
  "profile myProjects myProjects"
  "links project1 project2"
  "tech project3 project4"
  "footer footer footer";
  justify-content: start;
  gap: 30px;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

a:hover{
  text-decoration: underline;
}

section{
  background-color: var(--bg-cards);
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.477);
}

#profile, #links, #tech{
  max-width: 400px;
}

#aboutMe, #myProjects{
  max-width: 960px;
}

#profile{
  grid-area: profile;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
}

#profile img{
  width: 45%;
  border-radius: 100%;
  border: 2px solid rgb(0, 206, 41);
}

#profile h1{
  margin: 30px 0px 5px 0px;
  font-size: 2em;
}

#links{
  grid-area: links;
  height: 300px;
}

#links li{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 30px;
}

#tech{
  grid-area: tech;
  max-height: 350px;
  min-height: 250px;
  padding: 30px;
}

#tech h2{
  margin-bottom: 30px;
}

#tech div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

#tech div p{
  background-color: var(--bg-techs);
  color: black;
  padding: 15px;
  width: 120px;
  border-radius: 18px;
  text-align: center;
  font-weight: bold;
}

#aboutMe{
  grid-area: aboutMe;
  padding: 30px;
  min-height: 200px;
}

#aboutMe div{
  margin-top: 15px;
}

#aboutMe p{
  line-height: 1.5;
}

#myProjects{
  grid-area: myProjects;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0px 30px;
}

.projects{
  cursor: pointer;
  min-width: 415px;
  height: 300px;
  padding: 30px;
  display: grid;
  grid-template-areas: 
  "name name"
  "description description"
  "star-fork language";
  align-content: space-around;
}

.projects div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.project1{
  grid-area: project1;
}

.project2{
  grid-area: project2;
}

.project3{
  grid-area: project3;
}

.project4{
  grid-area: project4;
}

.projectName{
  grid-area: name;
}

.projectDescription{
  grid-area: description;
}

.star-fork{
  grid-area: star-fork;
}

.projectStar{
  margin-right: 10px;
}

.language{
  grid-area: language;
  justify-self: center;
}

.languageColor{
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.js{
  background-color: #F1E05A;
  border: 1px solid #DED372;
}

.typescript{
  background-color: #3178C6;
  border: 1px solid #4A6F9F;
}

.css{
  background-color: #563D7C;
  border: 1px solid #69598A;
}

footer{
  grid-area: footer;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.521);
}